body{
    min-width: 440px;
}

.informacion h2{
    text-align: center;
    margin-top: 20px;
    color: #5a1a35;
}
.informacion h3{
    text-align: center;
    margin-top: 20px;
}

.imagenAli {
    padding: 2rem 0 0 0;
    margin: auto;
    /* background: #0C231E; */
    width: 60%;
    height: 45%;
}


.imagenAli img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.lista{
    margin: 0 0 30px 9% ;
}

.submenu{
    background-color: #0c231e;
    padding: 1rem 3rem 10px 2rem;
    display: flex;
    align-items: center;
}

.nav-submenu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.list-submenu a{
    text-decoration: none;
    color: #ececec;
}


.volverUp a{
    text-decoration: none;
    color: #266f5f;
    font-size: 40px;
    font-weight: 700;
}

.volverUp{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    margin: 20px;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* background-color: rgb(56, 119, 13); */
    background-color: transparent;
    text-align: center;
    border-radius: 100%;
}