@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: antiquewhite;
    min-width: 440px;
}
/* ___________________________________________ */
/*                  header                     */
/* ___________________________________________ */

header{
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: antiquewhite;
}

.txtHeader{
    text-align: center;
    font-size: 20px;
}

#tiuloHidden{
    display: none;
}

#tiuloNoHidden{
    display: block;
}

.logo{
    max-width: 8rem;
}

.headUp{
    background-image: url("../img/fondoCrema.png");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headDown{
    display: flex;
    padding: 1rem 3rem 10px 2rem;
    justify-content: center;
    background-color: #0C231E;
}

.nav-list{
    list-style-type: none;
    /* este es para que no se le vean los puntos de las listas */
    text-align: center;
    display: flex;
    gap: 2rem;
}

.nav-list li a{
    text-decoration: none;
    color: #ececec;
    transition: all 0.3s;
}

.nav-list li a:hover {
    color: rgb(226, 235, 216);
    /* color: red; */
    letter-spacing: 1px;
}

.abrir-menu, 
.cerrar-menu,
.boton{
    display: none;
}

/* ___________________________________________ */
/*              hamburger menu                 */
/* ___________________________________________ */

@media screen and (max-width: 850px) {

    .boton{
        display: block;
        /* background-color: #0C231E;
        padding: 1rem; */
    }
    

    #tiuloNoHidden{
        display: none;
    }

    #tiuloHidden{
        display: block;
    }

    
    .headUp{
        justify-content: space-between;
    }

    

    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.6rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #1c1c1c;
        font-size: 2rem;
    }

    .cerrar-menu{
        color: #ececec;
    }

    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #0C231E;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        border-radius: 15px 0 15px 15px;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        color: #ececec;
    }
}

/* ___________________________________________ */
/*                  main                       */
/* ___________________________________________ */

.informacion{
    margin: 0 10% 0 10%;
}

.informacion p{
    text-align: justify;
    margin: 1%;
}

.informacion h1{
    text-align: center;
    margin-top: 30px;
}

.imagen {
    padding: 2rem 0 0 0;
    margin: auto;
    /* background: #0C231E; */
    width: 60%;
    height: 55%;
}


.imagen img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.especialidades{
    margin: 0 0 0 10%;
}


/* ___________________________________________ */
/*                  footer                     */
/* ___________________________________________ */

footer{
    width: 100%;
    margin-top: 10%;
    padding: 50px 30px;
    background-color: #0C231E;
    color: #ececec;
}

.conteiner-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    cursor:default;
}

.box-footer h2{
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
}

.box-footer a{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.box-footer a:hover{
    opacity: 0.8;
}
.box-footer a i{
    margin-right: 10px;
    font-size: 20px;
}

.box-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.box-copyright p{
    margin-top: 20px;

}

.box-copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}