.informacion h2{
    margin-top: 40px;
    text-align: center;
}

.oODS {
    height: 200px;
    width: 200px;
    margin: 1.9%;
    cursor: pointer;
}

.oODS:hover {
    opacity: 0.8;
}

.infobtn{
    margin: 0 40px 10px 0;
    padding: 5px;
    background-color: #f16c2598;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}

.infobtn.invisible,
.info2btn.invi2btn,
.info3btn.clasebtn,
.info4btn.otraclase,
.info5btn.claseinvi,
.info6btn.invi6btn,
.info7btn.invi7btn,
.info8btn.invi8btn,
.info9btn.invi9btn,
.info10btn.invi10btn,
.info11btn.invi11btn,
.info12btn.invi12btn,
.info13btn.invi13btn,
.info14btn.invi14btn,
.info15btn.invi15btn,
.info16btn.invi16btn,
.info17btn.invi17btn
{
    display: none;
}


.abrir-btnOB,
.cerrar-btnOB{
    background-color: transparent;
    border: none;
}

.cerrar-btnOB{
    margin-left: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.info2btn{
    background-color: #de1c849a;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info3btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info4btn{
    background-color: #cd8b2ea2;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info5btn{
    background-color: #4e7a479a;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info6btn{
    background-color: #de1c849a;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info7btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info8btn{
    background-color: #cd8b2ea2;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info9btn{
    background-color: #cd8b2ea2;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info10btn{
    background-color: #4e7a479a;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info11btn{
    background-color: #cd8b2ea2;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info12btn{
    background-color: #de1c849a;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info13btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info14btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info15btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info16btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}
.info17btn{
    background-color: #f79d269f;
    border-radius: 0 10px 10px 10px;
    border-style:solid;
    border-width: 3px;
    border-color: #61606067;
}