
.lista{
    margin: 0 0 30px 9% ;
}

.informacion h2{
    text-align: center;
}

.informacion h3{
    text-align: center;
    color: #5a1a35;
}

.volverUp a{
    text-decoration: none;
    color: #266f5f;
    font-size: 40px;
    font-weight: 700;
}

.volverUp{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    margin: 20px;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* background-color: rgb(56, 119, 13); */
    background-color: transparent;
    text-align: center;
    border-radius: 100%;
}

.empre-verde{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-top: 10px;
  background-color: #337c6c;
  border-radius: 10px;
  gap: 100px;
}

.empre-social{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-top: 10px;
  background-color: #ec655b;
  border-radius: 10px;
  gap: 100px;
}

.proto-didac{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-top: 10px;
  background-color: #e9d1a5;
  border-radius: 10px;  
  gap: 100px;
}

.proto-soft{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-top: 10px;
    background-color: #92b6d8;
    border-radius: 10px;
    gap: 100px;
}

.proto-tecno{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-top: 10px;
    background-color: #bbbbbb;
    border-radius: 10px;
    gap: 100px;
}


/* 
#verde{
    border-radius: 50px;
    background-color: #337c6c;
  }
  #social{
    border-radius: 50px;
    background-color:coral;
  }
  #didactico{
    border-radius: 50px;
    background-color:yellow;
  }
  #software{
    border-radius: 50px;
    background-color:darkcyan;
  }
  #tecnologico{
    border-radius: 50px;
    background-color:grey;
  }
  #Ganadores{
    border-radius: 50px;
    background-color:gold
  }

  
  #uno{
    grid-column: 1/1;
    margin: 5px;
    padding: 5px;
  }
  
  .dos{
    grid-column: 2/2;
    margin: 5px;
    padding: 5px;
  }
  
  .tres{
    grid-column: 3/3;
    margin: 5px;
    padding: 5px;
  }
  
  .cuatro{
    grid-template-rows: 4/4;
    margin: 5px;
    padding: 5px;
  }
  .cinco{
    margin: 5px;
    padding: 5px;
  }
  .seis{
    margin: 5px;
    padding: 5px;
  }
  .siete{
    margin: 5px;
    padding: 5px;
  }
  .ocho{
    margin: 5px;
    padding: 5px;
  }
  .nueve{
    margin: 5px;
    padding: 5px;
  }
  .diez{
    margin: 5px;
    padding: 5px;
  }
  .once{
    margin: 5px;
    padding: 5px;
  }
  .doce{
    margin: 5px;
    padding: 5px;
  }
  .trece{
    margin: 5px;
    padding: 5px;
  }
  .cuatro{
    margin: 5px;
    padding: 5px;
  }
  .quice{
    margin: 5px;
    padding: 5px;
  }
  .empre-verde{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .empre-verde div{
    border-style: solid;
    border-color: #0C231E;
    border-radius: 10px;
  }
  .empre-verde img{
    border-radius: 10px;
  }
  
  .empre-social{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .empre-social div{
    border-style: solid;
    border-color: #0C231E;
    border-radius: 10px;
  }
  .empre-social img{
    border-radius: 10px;
  }
  
  .proto-didac{
    text-align: center;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .proto-didac div{
    border-style: solid;
    border-color: #0C231E;
    border-radius: 10px;
  }
  .proto-didac img{
    border-radius: 10px;
  }
  .proto-soft{
    text-align: center;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .proto-soft div{
    border-style: solid;
    border-color: #0C231E;
    border-radius: 10px;
  }
  .proto-soft img{
    border-radius: 10px;
  }
  .proto-tecno{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .proto-tecno div{
    border-style: solid;
    border-color: #0C231E;
    border-radius: 10px;
  }
  .proto-tecno img{
    border-radius: 10px;
  }
  .ganadores{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .ganadores div{
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
  }
  .verde{
    grid-column: 1/1;
    margin: 5px;
    padding: 5px;
  }
  .social{
    grid-column: 2/2;
    margin: 5px;
    padding: 5px;
  }
  .didac{
    grid-column: 3/3;
    margin: 5px;
    padding: 5px;
  }
  .soft{
    grid-column: 4/4;
    margin: 5px;
    padding: 5px;
  }
  .tecno{
    grid-column: 5/5;
    margin: 5px;
    padding: 5px;
  }

 @media screen and (max-width: 1120px) {
   
} */