
.lista{
    margin: 0 0 30px 9% ;
}

.informacion h2{
    text-align: center;
}

.informacion h3{
    text-align: center;
    color: #5a1a35;
}

.volverUp a{
    text-decoration: none;
    color: #266f5f;
    font-size: 40px;
    font-weight: 700;
}

.volverUp{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    margin: 20px;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* background-color: rgb(56, 119, 13); */
    background-color: transparent;
    text-align: center;
    border-radius: 100%;
}

/* ------------------------------- */
/*      EMPRENDIMIENTO VERDE       */
/* ------------------------------- */

.titulo-verde{
  background-color: #337c6c;
  color: #1e1e1e;
  border-radius: 15px;
}

.ganadores{
  margin-top: 10px;
  background-color: #c7b519;
  border-radius: 15px;
}

.ganadores h2{
  background-color: #c7b519;
  color: #1e1e1e;
  border-radius: 15px;
}

.ganadores-imgs{
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  flex-wrap: wrap;
}

.ganadores-imgs img,
.participantes-verde img,
.divImgs img{
  border-radius: 10px;
}

.participantes-verde{
  background-color: #337c6c;
  color: #1e1e1e;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  gap: 30px 10%;
  padding: 40px 100px;
  flex-wrap: wrap;
  align-items: center;
}



/* ------------------------------- */
/*     EMPRENDIMIENTO SOCIAL       */
/* ------------------------------- */


.titulo-social{
  background-color: coral;
  color: #1e1e1e;
  border-radius: 15px;
}

.participantes-social{
  background-color: coral;
  color: #1e1e1e;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  gap: 30px 10%;
  padding: 40px 100px;
  flex-wrap: wrap;
  align-items: center;
}

/* ------------------------------- */
/*    PROTOTIPO  DIDACTICO         */
/* ------------------------------- */

.titulo-didactico{
  background-color: #e6dc89;
  color: #1e1e1e;
  border-radius: 15px;
}

.participantes-didac{
  background-color: #e6dc89;
  color: #1e1e1e;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  gap: 30px 10%;
  padding: 40px 100px;
  flex-wrap: wrap;
  align-items: center;
}


/* ------------------------------- */
/*    PROTOTIPO DE SOFTWARE        */
/* ------------------------------- */

.titulo-software{
  background-color: #5095e4;
  color: #1e1e1e;
  border-radius: 15px;
}

#ganadores-software,
#ganadores-software h2{
  background-color: #8dbdf3;
}
.divImgs{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------------------------------- */
/*    PROTOTIPO TECNOLOGICO         */
/* ------------------------------- */


.titulo-tecno{
  background-color: #7c7979;
  border-radius: 15px;
}

.participantes-tecno{
  background-color: #7c7979;
  color: #1e1e1e;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  gap: 30px 10%;
  padding: 40px 100px;
  flex-wrap: wrap;
  align-items: center;
}




